 <div class="content">
    <h2>Liste de facture Disponible</h2>
    
    <div class="content2">
        <div class="row d-flex justify-content-center">
            <div class="col-11">
                <table class="table shadow table-hover" >
                <thead class="thead">
                    <tr>
                    <th>#</th>
                    <th>Date-Emission</th>
                    <th>Reference</th>
                    <th>Description</th>
                    <th>Creancier</th>
                    <th>Montant</th>
                    <th>Statut</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let facture of listFacture ; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{facture.date_emission}}</td>
                    <td>{{facture.ref}}</td>
                    <td>{{facture.description}}</td>
                    <td>{{facture.creancier}}</td>
                    <td>{{facture.montant_fac}} DH</td>
                    <td class="text-danger" style="font-weight: bold;">{{facture.status}}</td>     
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
    
        
        
        
    </div>
</div>


