<!-- Sidebar -->
<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
  <div class="position-sticky">
    <div class="list-group list-group-flush">
      <a
      
         class="nav-link" 
         routerLink="/clientHome/welcome"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        class="list-group-item list-group-item-action py-3 "
        aria-current="true"
      >
        <i class="fas fa-chart-area fa-fw mr-3"></i>Home
      </a>
      <!-- Todo Add Route -->
      <a
         class="nav-link" 
         routerLink="/clientHome/recharge"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        class="list-group-item list-group-item-action py-3"
      >
        <i class="fa-solid fa-sim-card fa-fw mr-3"></i>Recharge
      </a>
      <!-- Todo Add Route -->
      <a
         class="nav-link" 
         routerLink="/clientHome/livraison"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        class="list-group-item list-group-item-action py-3"
      >
        <i class="fa-solid fa-truck fa-fw mr-3"></i>livraison
      </a>
      <!-- Todo Add Route -->
      <a
         class="nav-link" 
         routerLink="/clientHome/facture"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        class="list-group-item list-group-item-action py-3"
      >
        <i class="fa-solid fa-file-lines fa-fw mr-3"></i>facture
      </a>
      <!-- Todo Add Route -->
      <a
      class="nav-link" 
      routerLink="/clientHome/courrier"
     routerLinkActive="active"
     ariaCurrentWhenActive="page"
     class="list-group-item list-group-item-action py-3"
   >
   <i class="fa-solid fa-people-carry-box mr-3"></i>Courriers
   </a>
      <a
         class="nav-link" 
         routerLink="/clientHome/historique"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        class="list-group-item list-group-item-action py-3"
      >
      <i class="fa-solid fa-clock-rotate-left fa-fw mr-3"></i>Historique
      </a>

     
    </div>
  </div>
</nav>
