<div class="content">
    <h2>Liste de courrier Disponible</h2>
    
    <div class="content2">
        <div class="row d-flex justify-content-center">
            <div class="col-11">
                <table class="table shadow table-hover" >
                <thead class="thead">
                    <tr>
                    <th>#</th>
                    <th>Reference</th>
                    <th>Date-Envoie</th>
                    <th>Source</th>
                    <th>Destination</th>
                    <th>Objet</th>
                    <th>CIN</th>
                    <th>Ownerphone</th>
                    <th>Statut</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let virement of listVirement ; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{virement.ref}}</td>
                    <td>{{virement.date_virement}}</td>
                    <td>{{virement.ribsource}}</td>
                    <td>{{virement.ribdest}}</td>
                    <td>{{virement.montant}} </td>
                    <td>{{virement.cin}} </td>
                    <td>{{virement.ownerphone}} </td>
                    <td class="text-danger" style="font-weight: bold;">{{virement.state}}</td>     
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
    
        
        
        
    </div>
</div>


